<div class="border-2 border-l-4 border-salmon p-4 bg-flour rounded-lg">
    <div class="flex">
        <div class="flex-shrink-0">
            <i class="bi bi-info-circle-fill text-salmon text-xl"></i>
        </div>
        <div class="ml-3">
            <p class="text-sm text-salmon">
                {{ message|default('Aucune donnée disponible.') }}
            </p>
        </div>
    </div>
</div>
