<footer class="bg-cream text-coffee dark:bg-coffee dark:text-flour py-6 px-6 mt-8 transition-colors duration-300">
	<div class="container mx-auto text-center">
		&copy;
		{{ "now"|date("Y") }}
		Fourneo. Tous droits réservés.
	</div>
</footer>
