{% extends 'base.html.twig' %}

{% block title %}{{ product is not null ? 'Modification' : 'Création'  }} d'un produit{% endblock %}

{% block body %}

<h1 class="text-title">
		{{ product is not null ? 'Modification du produit: ' ~ product.name : 'Création d\'un nouveau produit' }}
</h1>
<div class="main-container">
{{ component('Form:registerProductForm', { product: product }) }}
</div>
{% endblock %}
