{% extends 'base.html.twig' %}

{% block title %}{{ product is not null ? 'Modification' : 'Création'  }} d'un produit{% endblock %}

{% block body %}

<h1 class="text-2xl font-bold mb-6 text-gray-800 bg-white py-4 px-6 rounded-lg">
		{{ product is not null ? 'Modification du produit: ' ~ product.name : 'Création d\'un nouveau produit' }}
</h1>

{{ component('Form:registerProductForm', { product: product }) }}

{% endblock %}
