{% extends 'base.html.twig' %}

{% block title %}Liste des produits
{% endblock %}

{% block body %}
	<h1 class="title">Liste des produits</h1>
	<div class="flex flex-col md:flex-row items-center md:justify-center gap-2 md:gap-4">
		<div>
			<a href="{{ path('product_new') }}" class="btn-action mb-4 md:mb-8">
				<i class="bi bi-plus-circle mr-2"></i>Enregistrer un ingrédient
			</a>
		</div>
		<div>
			<a href="{{ path('recipe_new') }}" class="btn-action mb-4 md:mb-8">
				<i class="bi bi-plus-circle mr-2"></i>Enregistrer une recette
			</a>
		</div>
	</div>
	<div class="main-container">			
		{{ component('Form:filterProductsByCategory') }}		
	</div>
{% endblock %}
