@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.text-title {
  @apply self-start text-4xl text-salmon font-extrabold p-4 mb-4 md:mb-6 tracking-wide leading-snug text-center inline-block;
  @apply md:pl-32;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}


.item-card {
  @apply relative border-2 border-golden rounded-lg p-2 md:p-4 bg-flour;
}

.main-container {
  @apply container mx-auto py-4 md:py-8 px-1 sm:px-6 rounded-lg;
}

.text-subtitle {
  @apply text-salmon text-base font-medium;
}

.text-label {
  @apply text-coffee text-sm;
}

.btn-edit {
  @apply text-skyblue hover:text-blue-700 transition-colors duration-300 ease-in-out;
}

.btn-delete {
  @apply text-salmon hover:text-red-800 transition-colors duration-300 ease-in-out;
}

.btn-validation {
  @apply inline-block bg-skyblue text-flour hover:bg-coffee hover:text-golden hover:border-golden font-semibold py-2 px-4 rounded-md transition duration-300 ease-in-out;
}

.btn-action {
  @apply inline-block border-2 border-flour bg-mossgreen text-flour hover:bg-golden hover:text-salmon hover:border-salmon font-semibold py-2 px-4 rounded-md transition duration-300 ease-in-out;
}

.btn-return {
  @apply inline-block border-2 border-gray-500 bg-gray-300 text-coffee hover:bg-gray-200 hover:text-salmon hover:border-salmon font-semibold py-2 px-4 rounded-md transition duration-300 ease-in-out;
}

@layer utilities {
  [aria-selected="true"] {
    color: theme('colors.golden') !important;
    border-color: theme('colors.golden') !important;
    background-color: theme('colors.cream') !important;
    font-weight: 600;
  }
}

#swup {
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}

html.is-animating #swup {
    opacity: 0;
}

html.is-changing #swup {
    opacity: 0;
}