@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.text-title {
  @apply self-start text-4xl text-salmon font-extrabold p-4 mb-6 tracking-wide leading-snug text-center inline-block;
  @apply md:pl-32;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}


.item-card {
  @apply relative border-2 border-golden rounded-lg p-4 bg-flour;
}

.main-container {
  @apply container mx-auto py-8 px-1 sm:px-6 rounded-lg shadow-md;
}

.text-subtitle {
  @apply text-salmon text-base font-medium;
}

.text-label {
  @apply text-coffee text-sm;
}

.btn-validation {
    @apply inline-block bg-golden text-cream hover:bg-coffee hover:text-flour font-semibold py-2 px-4 rounded-md transition duration-200;
  }

.btn-edit {
  @apply text-golden hover:text-coffee transition-colors duration-300 ease-in-out;
}

.btn-action {
  @apply inline-block border-2 border-golden bg-cream text-salmon hover:bg-golden hover:text-floor hover:border-salmon font-semibold py-2 px-4 rounded-md transition duration-200;
}

.btn-back {
  @apply inline-flex items-center gap-2 border-2 border-golden bg-cream text-salmon 
    hover:bg-golden hover:text-floor hover:border-salmon 
    font-semibold px-4 py-2 rounded-md transition duration-200;
}

@layer utilities {
  [aria-selected="true"] {
    color: theme('colors.golden') !important;
    border-color: theme('colors.golden') !important;
    background-color: theme('colors.cream') !important;
    font-weight: 600;
  }
}
