{% extends 'base.html.twig' %}

{% block title %}
    Création des étapes
{% endblock %}

{% block body %}
	<h1 class="title">
		 Création des étapes
	</h1>
	<div class="main-container">
	{{ component('Form:addStepsToRecipe', { recipe: recipe}	) }}
	</div>
{% endblock %}