{% extends 'base.html.twig' %}

{% block title %}
    Création d'une recette
{% endblock %}

{% block body %}
	<h1 class="title">
		 Création d'une recette
	</h1>
	<div class="main-container">
	{{ component('Form:addStepsToRecipe', { recipe: recipe}	) }}
	</div>
{% endblock %}