{# templates/recipe/new_edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Gérer les étapes de {{ recipe.name }}
{% endblock %}

{% block body %}
	<h1 class="text-title">
		 Gérer les étapes de {{ recipe.name }}
	</h1>
	<div class="main-container">
	{{ component('Form:addStepsToRecipe', { recipe: recipe}
	) }}
	</div>
{% endblock %}