{# templates/recipe/new_edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    {{ recipe is defined and recipe is not null ? 'Modifier la recette' : 'Nouvelle recette' }} - Fourneo
{% endblock %}

{% block body %}
	<h1 class="text-title">
		{{ recipe is not null ? 'Modifier une recette' : 'Créer une recette' }}
	</h1>
	<div class="main-container">
	{{ component('Form:addRecipeProduct', { recipe: recipe}
	) }}
	</div>
{% endblock %}