<p class="text-sm  mb-1">
    <strong>Taille :</strong>
    {{ product.size ?? '—' }}
</p>
<p class="text-sm  mb-1">
    <strong>Prix :</strong>
    {{ product.price }} €
</p>

<p class="text-sm  mb-4">
    <strong>Catégories: </strong>
    {% for category in product.categories %}
    <span class="inline-block bg-golden text-cream text-xs font-semibold px-2 py-0.5 rounded shadow-sm">
        {{ category.name }}<br>
    </span>
    {% endfor %} 
</p>