<p class="text-sm text-coffee mb-1">
    <strong>Taille :</strong>
    {{ product.size ?? '—' }}
</p>
<p class="text-sm text-coffee mb-1">
    <strong>Prix :</strong>
    {{ product.price }} €
</p>

<p class="text-sm text-coffee mb-4">
    <strong>Catégorie</strong>
    <span class="inline-block bg-golden text-cream text-xs font-semibold px-2 py-0.5 rounded shadow-sm">
        {{ product.category.name }}
    </span>
</p>