{% extends 'base.html.twig' %}

{% block title %}{{ saleEvent is defined ? 'Edition' : 'Création' }} d'une Vente
{% endblock %}

{% block body %}
	<h1 class="title">
		{{ saleEvent is not null ? 'Modifier un événement de vente' : 'Créer un nouvel événement de vente' }}
	</h1>
	<div class="main-container">
	{{ component('Form:addProductsForm', { saleEvent: saleEvent }) }}
	</div>
{% endblock %}
