{# templates/sale_event/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des événements de vente
{% endblock %}

{% block body %}
	<h1 class="text-title">Événements de vente</h1>
	<div class="main-container">
		{{ component('Form:filterSaleEventsByStatus') }}
	</div>
{% endblock %}
